/* $Id$ - Blue theme option for Milkyway */
body {background: #103866}
a:link, a:visited {color: #135cae}
a:hover {color: #0b3768}
td#leftborder {background: url(blue/borderl.png) repeat-y}
td#rightborder {background: url(blue/borderr.png) repeat-y}
td#footer {background: url(blue/footer.jpg) no-repeat}
td#footer .wrapper {background: url(blue/footer.jpg) no-repeat 100% 0}
div#header {background: url(blue/header.jpg) no-repeat 100% 0}
#header .wrapper {background: url(blue/header.jpg) no-repeat; margin-right: 32px}
#tiki-top {background: url(blue/topbar.jpg) no-repeat 100% 0;
	padding: 0;
	margin: 0}
#tiki-top .wrapper {background: url(blue/topbar.jpg) no-repeat 0 0;
	margin-right: 32px;}
#topbar_custom_code {background: white url(blue/borderr.png) 100% 0 repeat-y}
#topbar_cc_liner {background: white url(blue/borderl.png) repeat-y 0 0}
#tiki-top .cssmenu_horiz li.menuLevel0 a:hover,
.horbaritem a:hover {background: /*#2b2b2b*/ url(blue/mw_menu_active_bg.png) 0 0 repeat-x;color: #fff} 
.bt {background: url(blue/modbox.jpg) no-repeat 100% 0}
.bt div {background: url(blue/modbox.jpg) no-repeat 0 0}
.bb {background: url(blue/modbox.jpg) no-repeat 100% 100%}
.bb div {background: url(blue/modbox.jpg) no-repeat 0 100%}
.i1 {background: url(blue/modboxl.jpg) repeat-y 0 0}
.i2 {background: url(blue/modboxr.jpg) repeat-y 100% 0}
.box-titlebottom {background: url(blue/modboxtitlebottom.jpg) no-repeat 100% 0}
.box-titlebottom div {background: url(blue/modboxtitlebottom.jpg) no-repeat 0 0}	

h3.box-title,
span.highlight {
	background: #005faa;
	color: #fff}

.sf-sub-indicator {background: url(blue/arrows-0b3665.png) no-repeat -10px -100px}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox:hover {
	background: /*#2b2b2b*/ url(blue/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff}
	
.adminanchors,
th,
td.heading,
tr.diffheader,
th a:link,
th a:visited,
td.heading a:link,
td.heading a:visited,
tr.diffheader a:link,
tr.diffheader a:visited {
	background: #005faa;
	color: #fff 
}

.tabmark a:hover,
.tabactive a:link,
.tabactive a:visited {
	background: url(blue/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff;
	text-decoration: none;
}