/* $Id$ - Red theme option for Milkyway */
body {background: #640b0f}
a:link, a:visited {color: #a10f15}
a:hover {color: #7b0b12}
td#leftborder {background: #5e0d15 url(red/borderl.png) repeat-y}
td#rightborder {background: #5e0d15 url(red/borderr.png) repeat-y}

td#footer {background: url(red/footer.jpg) no-repeat}
td#footer .wrapper {background: url(red/footer.jpg) no-repeat 100% 0}
div#header {background: url(red/header.jpg) no-repeat 100% 0}
#header .wrapper {background: url(red/header.jpg) no-repeat; margin-right: 32px}
#tiki-top {
	background: url(red/topbar.jpg) no-repeat 100% 0;
	padding: 0;
	margin: 0}

#tiki-top .wrapper {
	background: url(red/topbar.jpg) no-repeat 0 0;
	margin-right: 32px;}

#topbar_custom_code {background: white url(red/borderr.png) 100% 0 repeat-y}
#topbar_cc_liner {background: white url(red/borderl.png) repeat-y 0 0}
#tiki-top .cssmenu_horiz li.menuLevel0 a:hover,
.horbaritem a:hover {background: /*#2b2b2b*/ url(red/mw_menu_active_bg.png) 0 0 repeat-x;color: #fff} 
.bt {background: url(red/modbox.jpg) no-repeat 100% 0}
.bt div {background: url(red/modbox.jpg) no-repeat 0 0}
.bb {background: url(red/modbox.jpg) no-repeat 100% 100%}
.bb div {background: url(red/modbox.jpg) no-repeat 0 100%}
.i1 {background: url(red/modboxl.jpg) repeat-y 0 0}
.i2 {background: url(red/modboxr.jpg) repeat-y 100% 0}
.box-titlebottom {background: url(red/modboxtitlebottom.jpg) no-repeat 100% 0}
.box-titlebottom div {background: url(red/modboxtitlebottom.jpg) no-repeat 0 0}	

h3.box-title,
span.highlight {
	background: #a10e16;
	color: #fff}

.sf-sub-indicator {background: url(red/arrows-5d0a03.png) no-repeat -10px -100px}

.button a:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox:hover {
	background: /*#2b2b2b*/ url(red/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff}

.adminanchors,
th,
td.heading,
tr.diffheader,
th a:link,
th a:visited,
td.heading a:link,
td.heading a:visited,
tr.diffheader a:link,
tr.diffheader a:visited {
	background: #a10e16;
	color: #fff
}

.tabmark a:hover,
.tabactive a:link,
.tabactive a:visited {
	background: url(red/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff;
	text-decoration: none;
}