/* $Id$
 * Andreas08 theme for TikiWiki CMS/Groupware, based on original design by Andreas Viklund (http:).
 * Adapted for Tiki by Gary Cunningham-Lee aka chibaguy.
 * Until IE7 supports display:table, minimal use of HTML tables needed for graphic treatment
 * and column integrity when pages widen dynamically.
 * Please visit http://themes.tikiwiki.org or http://zukakakina.com
 * for more information. -- */

/***** XHTML Elements ******/

body {
	display: table;
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
	background: #e8eaec;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
	line-height: 1.4em;
	color: #303030}

body#fullscreen {}
html>body {}

a,
a:visited {
	color: #467aa7;
	font-weight: bold;
	text-decoration: none;
	background: inherit}

a:hover {
	color: #2a5a8a;
	text-decoration: underline;
	background: inherit}

a img {border: none}
button {}
button:hover {cursor: pointer}
div {}
form {}

h1, h2, h3, h4, h5 {font-weight: normal}
h1 {font-size: 1.5em}
h2 {font-size: 1.4em}
h3 {font-size: 1.3em}
h4 {font-size: 1.2em}
h5 {font-size: 1.1em}
img {border: 0}

fieldset {
	border: solid 1px #303030;
	padding: 10px;}

form {
	margin: 0;
	padding: 0}
	
legend {color: #303030}
button {}
button:hover {cursor: pointer}

button,
input,
textarea,
option,
select {}

/* IE */
* html .wikitopline select {font-size: .9em}
input.button {}

input[type=checkbox] {border: 0}

input[type=text],
input[type=password] {}

input[type=submit],
input[type=file],
input[type=reset],
select {}

button,
input[type=submit],
.button input,
input[type=reset] {}

button:hover,
input[type=submit]:hover,
.button input:hover {cursor: pointer}


* html .findtable input {font-size: 1em}
form.admin input[name="features"] {margin-bottom: 3px !important}

select {}

select[multiple] {height: 10em}
select[name="theme"] {}

textarea {font-size: 1em}
td textarea {font-size: 1.3em}
small {}

/***** Page Layout *****/

/** off-screen **/

ul.jumplinks {
	font-size: 0.8em;
	list-style-type: none}

ul.jumplinks, .jumplinks {
	position: absolute;
	top: -9000px;
	left: -9000px;
	z-index: 9}

ul.jumplinks a:focus, ul.jumplinks a:active {
	position: absolute;
	top: 9010px;
	left: 9010px;
	background: #339999; 
	color: #fff;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #000;
	width: 6em;
	z-index: 9}

#fullscreenbutton {
	position: absolute;
	top: 2px;
	right: 10px;
	z-index: 10;
	font-size: 80%}

#fullscreen #tiki-center {
	padding: 3em;
	text-align: left}

#tiki-clean {
	text-align: left;
	padding: 1em}

/*** Type 2 (table-assisted) layout ***/

table#main {
	font-size: .9em;
	position: absolute;
	top: 20px;
	min-width: 760px;
	color: #303030}

td#leftmargin {width: 10%}
tr#cols {}
td#rightmargin {width: 10%}

td#header {
	background: #467aa7;
	color: #ffffff}

td#leftborder {}

td#leftcolumn {
	width: 180px;
	padding: 1em;
	background: #fff;
	border-left: 2px solid #a0a0a0}
 
td#centercolumn {
	background: #fff;
	padding: 1em;
	border-left: 2px solid #a0a0a0;
	border-right: 2px solid #a0a0a0}

td#rightcolumn {
	background: #fff;
	width: 180px;
	padding: 1em;
	border-right: 2px solid #a0a0a0}

td#rightborder {}

#footer,
div#tiki-bot {
 	text-align: center;
	padding: 5px 0;
	margin: 0 1px;
	font-size: 0.9em;
	color: #f0f0f0;
	background: #467aa7}

#footer a,
#tiki-bot a {
	color: #f0f0f0;
	background: inherit;
	font-weight: bold}

#footer a:hover,
#tiki-bot a:hover {
	color: #ffffff;
	background:inherit;
	text-decoration: underline}
/*  end layout tables */

/*** Error page ***/
/* To center cbox */
div#tiki-main {background: #fff}

div#tiki-main #tikimidtbl {
	margin: auto;
	width: auto}

div#tiki-bot {text-align: center}

/* Site Header & Identity */
#header-top {
	position: relative;
	min-height: 80px}

#siteheader {
	text-align: left;
	background: transparent;
	vertical-align: middle;
	position: relative}

div#sioptions {padding: 1em}

#sioptionscentered {
	text-align: center;
	margin: 1em}

div.floatright {
	float: right;
	clear: none}

div.floatleft {
	float: left;
	clear: none}

#sitelogo {margin: auto !important}
.floatright img {margin-right: 40px}
#sitead {clear: none}

#sitesearchbar {
	float: right;
	padding-right: 4px;
	padding-left: 10px;
	text-align: right;
	border-left: 1px solid #ffffff}

input[id="fuser"] {
	background: #578bb8;
	color: #fff;
	font-size: .9em}

#siteheader #description {}

#siteloginbar {
	text-align: right;
	position: absolute;
	bottom: 2px; right: 10px;
	text-transform: uppercase;
	font-size: 90%}

input[id="sl-login-user"],
input[id="sl-login-pass"] {
	background: #467aa7;
	color: #fff;
	text-transform: none;
	font-size: 1.3em}

#siteloginbar input.wikiaction {
	border: 1px solid white;
	background: #467aa7;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 90%}

#sitelocbar {float: left}

/* #header text selectors, if needed */

#sitetitle {
	padding-left: 20px;
	line-height: 1em;
	font-size: 2.4em;
	background: inherit;
	color: #ffffff;
	letter-spacing: -2px;
	font-weight: normal}

#sitesubtitle {
	margin: 10px 0 0 40px;
	font-size: 1.4em;
	background: inherit;
	color: #f0f2f4;
	letter-spacing: -1px;
	font-weight: normal}

#header a,
#header a:link,
#header a:visited {color: white}

/** tiki-top_bar.tpl - menu and search */
#tiki-top {
	width: 100%;
	white-space: nowrap;
	background: #578bb8;
	color: #ffffff;
	border-top: 1px solid #FFFFFF;
	text-transform: uppercase}

#tiki-top a,
#tiki-top a:visited {}

#tiki-top a:hover {}
#tiki-top table {width: auto}

#sitesearchbar {
	float: right;
	margin-right: 10px;
	padding-top: 3px;
	clear: both;
	font-size: 90%}

input#fuser {line-height: 90%} 

input[name="search"] {
	border: solid 1px #FFFFFF;
	background: #467AA7;
	color: #FFFFFF;
	vertical-align: middle;
	text-transform: uppercase; 
	font-size: .9em}

input[name="search"]:hover {cursor: pointer}

select[name="where"] {
	font-size: .9em;
	background: #578BB8;
	color: #fff}
/* end header */

/* centercolumn */

a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited {
	font-size: 80%;
	color: #ADBAC3}

a.flip:hover,
.tellafriend a:hover {
	color: #505050;
	text-decoration: none}

a.flip img {display: none}

.tellafriend {
	font-size: 80%;
	text-align:right}
	
#fullscreen .tellafriend {
	margin-right: 100px;
	margin-top: 2px}

div#tiki-center{ }
/* IE */
* html #tiki-center {font-size: 1em}

/****** Menus ******/
/** PHP Layers Menus **/

.horbar {
	margin-left: 1px;
	color: #ffffff}

.horbar table {
	width: auto;
	float: left}

.horbaritem a,
.horbaritem a:visited,
.horbaritem a:hover {
	border-right: 1px solid #ffffff;
	white-space: nowrap;
	display: block;
	padding: 6px 10px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	background: inherit;
	color: #ffffff;
	font-size: .9em}

.horbaritem a:hover {
	background: #80b0da;
	color: #ffffff;
	text-decoration: none}

.mdkhorbaritem  {
	float: left;
	white-space: nowrap}

.mdkverbar {margin: 0}

.mdksubmenu {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden}

.mdksubmenu table {width: auto}

.mdksubframe  {
	position: relative;
	display: block;
	background: #467AA7}

.mdkitem {
	position: relative;
	text-align: left;
	white-space: nowrap;
	background: #467AA7}
	
.mdkitem a,
.mdkitem a:visited,
.cssmenu_vert li a  {
	padding: 3px 10px;
	position: relative;
	display: block;
	text-decoration: none;
	font-size: .9em;
	color: #fff;
	font-weight: normal}

.cssmenu_vert li a {  }
.cssmenu_vert li {background: #467AA7}
.cssmenu_ver li a ul {border: 0}
.cssmenu_vert li:hover ul, .cssmenu_vert li li:hover ul, .cssmenu_vert li li li:hover ul, .cssmenu_vert li.sfhover ul, .cssmenu_vert li li.sfhover ul, .cssmenu_vert li li li.sfhover ul { /* lists nested under hovered list items */border: 0; padding-right: 0}

.mdkitem a:hover, 
.cssmenu_vert li a:hover  {
	background: none;
	color: #fff;
	text-decoration: none;
	background: #80b0da}
	
.mdkitem a:active {color: #993300}

.mdkitem .mdkfwdarr {
	position: absolute;
	top: 5px;
	right: 12px}

/* Tree menu (also on Browse Categories */
.treemenudiv {
	display: block;
	white-space: nowrap}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	color: #467aa7;
	text-decoration: none;
	font-size: 10px;	
	font-weight: normal}

a.phplm:hover {
	color: #467aa7;
	font-size: 10px;
	text-decoration: underline;
	background: transparent;
	font-weight: normal}

a.phplm:active {color: #ff0000}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	color: black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: underline;
	background: #eeeeee;
	font-weight: normal}

a.phplmselected:hover {
	text-decoration: none;
	background: #E9ECEF;
	font-weight: normal}

/** Links in other menus **/
div.separator, div.separatorline {}

.separator a:link,
.separator a:visited,
.separator a:hover {}

.option a.linkmenu {font-weight: normal}
div.option a.linkmenu:hover {}
a.separator img {}
.option {}

div.optionline,
.option a {}

.option a:link,
.option a:visited,
a.linkmenu, .rsslink, .linkmenu:visited, .rsslink:visited {}

.linkmenu:hover {}

div.option a:hover,
div.option a:active {}

a.linkmodule {}
a.linkmodule:hover {}
.rsslist {}
.rssitem {}
.rssitem:first-child {}
.rssdate {}

/****** Misc. Global Classes (layout and style) ****/
.hidden {
	position: absolute;
	left: -10000px;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden}

.floatlist {
	clear: left;
	list-style-type: none;
	margin: 0;
	padding-left: 0}

.floatlist li {float: left}

div#attzone, div#comzone {
	display: none;
	margin-top: 10px}

div#attzoneopen, div#comzoneopen {
	display: block;
	margin-top: 10px}
	
div#edithelpzone {display: none}
#edithelpzone code {font-size: 1.2em}
#rules-copy-panel {display: none}
.clear, #clear {clear: both}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden}
	
/* IE */ * html .clearfix {height: 1%}
#overdiv table {width: auto !important}
.attention {color: red}
.highlight, #highlight  {}

/* Banners, text type */
.bannertext {
	font-size: .95em;
	text-decoration: none}

.bannertext:hover {}

/* div.imagerank {} not found in 1.10 templates */

.link, .gallink, .bloglink, .fgallink, .trailer,
.opencomlink, .commentslink, .admlink,.forumbutlink {}

div.searchdate {}

div#debugconsole {}

/* Pagination for listings */
.mini {
	width: 100%;
	text-align: center;
	font-size: .9em}

.prevnext, .galprevnext, .blogprevnext, .fgalprevnext,
.artprevnext, .forumprevnext {
	font-size: 1em;
	padding: 1px 6px}

a.tikihelp, a.tikihelp:visited {
	border: 0;
	vertical-align: text-top}

a.tikihelp:hover {
	cursor: help;
	vertical-align: text-top}

#rss img {vertical-align: middle}

/** Admin pages **/
/* overrides inline css */
div.adminanchors {}

/** Modules **/
.box-shadow {  }

div.box {
	width: 176px;
	overflow: hidden}

/* Needs to be set for CSS menu in col2 to work */
/*#col2,*/
.box-menu_css_v_43,
.box-menu_css_v_43 .box-data,
.box-menu_css_v_43 ul {overflow: visible !important; background: #fff}

.box-menu_css_v_43 {padding-left: 1em}

h3.box-title {
	display: block;
	margin: 0 0 16px 0;
	font-size: 1.3em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background: inherit;
	position: relative}

.box a.flipmodtitle img {display: none}

* html .box a.flipmodtitle img,
.box:hover a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid transparent}

* html .box a.flipmodtitle img {border: none}
a.flipmodtitle:hover img {border: 1px solid #58A7D2 !important}
.box-data {background: #fff}

.box-data table {width: 100%}
* html .box-data table {width: 95%}

.box-data ol li {}
.box-footer {}

/** controls for modules **/
.modcontrols { 
	display: block;
	float: right;
	width: 64px;
	height: 16px}

.modcontrols a {
	display: block;
	float: left;
	width: 16px;
	height: 16px}

.modcontrols a span {display: none}

/** Other boxes **/
div.cbox {
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #c0c0c0;
	background: #fafbfc;
	color: #505050;
	line-height: 1.5em}

.cbox-title {
	font-weight: bold;
	border-bottom: 1px solid #c0c0c0}

.cbox-data {}

.rbox {}

.rbox-title,
.rbox-title[name=tip] {
	background: #DECDDE;
	margin-bottom: -2px;
	margin-left: 1px}

.rbox-data,
.rbox-data[name=tip] {
	background: #DECDDE;
	margin-top: -2px}

div.simplebox {
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #c0c0c0;
	background: #fafbfc;
	color: #505050;
	line-height: 1.5em}

/***** Tables, Tabs and Lists ****/
/** Tables **/

table {
	font-size: 1em;
	width: 100%}

table.normal, 
table.admin,
table.bloglist {}

table.admin tr td div#page-bar {
	margin-left: 5px;
	margin-bottom: 0;
	background: transparent}

td {vertical-align: top}

/* IE */ * html td {font-size: 11px}
th {}

/* Cells in forms using a background color */
.formcolor td,
.galform td,
.editblogform td,
.editfgalform td,
.comform td,
.forumform td {}

table.email {}
table.email td.body {}
table.email td.heading {}
table.email td.closeButton {}

/* headings */
table.normal td.heading,
td.bloglistheading {
	font-size: 1em;
	background: #ABCDEF}

td.heading,
td.bloglistheading {
	background: #ABCDEF;
	text-align: center}

div.heading, td.heading {}
form.admin {}
form.admin fieldset {}
form.admin legend.heading {}
form.admin legend.heading a {}
form.admin legend.heading a:hover {}
form.admin legend.heading a span {}
form.admin legend.heading a:hover span {}
div.heading {}
.button {}
table.findtable {}
.findtable td { }
td.form {padding: 0.2em}

/* Odd rows in several listings */
tr.odd {}
tr.odd:hover {}
tr.even {}
tr.even:hover {}

td.odd {
	background: #F0F0F0;
	color: #000000}

td.even {
	background: #DCDCDC;
	color: #000000}

tr.even td.even,
tr.odd td.odd {}

td.third {}

td.normal,
td.bloglist,
.wikitable td,
td.odd,
td.even {
	margin: 0;
	padding: 0.2em;
	vertical-align: top}

/* cells in tracker items display */
td.formlabel {}
td.formcontent {}

/* links to view an object from a table listing objects can be generalized to this link */
a.fgalname {}
a.fgalname:hover {}
 
a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {}

a.forumnameread {}

/* links in table headings */
.tableheading,
.gallistheading,
.listgalheading,
.bloglistheading,
.llisfgalheading,
.llistfileslink,
.llistart,
.lforumheading {}

/** Tabs **/
.tabs {}
.tabactive {}
[class].tabactive {}
.tabactive a {}
.tabinactive {}

.tabmark {
	display: inline;
	font-size: 85%;
	background: #abcdef;
	border: 1px solid #abcdef;
	margin: 0;
	margin-right: 5px;
	padding: 1px 0 1px 0}

.tabmark a { 
	border-bottom :0;
	color: #000;
	padding: 1px 5px 1px 5px;
	text-decoration: none}

.tabmark a:active {
	background: #fff;
	color: red}

.tabmark a:hover {
	color: black;
	background: #f0f9ff}

.tabcontent {
	z-index: 200;
	position: relative;
	border: 1px solid #abcdef;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background: #f0f9ff}

.tabcontent table {}
.tabcontent table td {}
form fieldset.tabcontent {}
form.admin .tabs {}

/* Get the contextual info to make this specific. */
div.content {}
div.content .tabs {}

.tab-wrapper {
	border: 1px solid #EEEEEE;
	padding: 0}

.tab-menu  {
	clear: both;
	line-height: 17px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 2px 0;
	margin-bottom: 6px;
	margin-top: 2px;
	width: 100%}

.tab-menu li {
	display: inline;
	margin: 0 2px;
	width: 200px;
	padding-right: 1.5em}

.tab-menu li img {vertical-align: middle}

.tab-menu li a {} 

.tab-menu li a:hover, 
.tab-menu li a:focus {} 

.tab-menu li a:hover {} 
.tab-menu li.tab-selected a {}




span#tab1 {background: #F5F5F5}
span#tab2 {background: #ECECEC}
span#tab3 {background: #DCDCDC}

#content1,
#content2,
#content3 {
	border-top:1px solid #A9A9A9;
	border-left:1px solid #A9A9A9;
	border-right:1px solid #696969;
	border-bottom:1px solid #696969}

#content1 {
	padding:10px;
	background: #F5F5F5}

#content2 {
	padding:5px;
	background: #ECECEC}

#content3 {
	padding:5px;
	background: #DCDCDC}
	
table.admin div#content1 div.tabcontent div.cbox {background: transparent}

/*** Feature-specific selectors ***/

/***** Wiki *****/

h1 a.pagetitle {
	display: block;
	margin: 0 0 16px 0;
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background: inherit}

.wikitopline {}

div#description {
	font-size: .9em;
	font-style: italic}

#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.categpath {}
.wikitext {line-height: 1.5em}

.wikitext h2, h2, h3, h4, h5 {
	margin: 0 0 15px;
	padding: 0}

.wikitext h3 {margin-bottom: 10px}

.titlebar {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin:10px 0 10px 0;
	background: #467AA7;
	color: #FFFFFF;
	padding-left: 1em}
 
.wikitext ul li {} 
.wikitext ul li ul li {}
.wikitext ol {}

table.wikitable {
	border: 1px solid #A9A9A9;
	border-collapse: collapse}
 
td.wikicell {
	padding: 3px;
	border: 1px solid #999999;
	border-collapse: collapse}

.editdate {padding-bottom: 5px}

div#page-bar {
	display: block;
	margin-top: 0}

ul.floatleft {
	display: block;
	list-style: none;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0}

ul.floatleft li {
	float: left;
	padding: 4px 2px}

.editdate ul.floatleft {margin-top: 8px}

span.button2,
div.button2, .button3 {margin-right: 5px}

/* First of these from han.css - Check ?? */
.navbar .linkbut:hover,
div.button2 a:hover, .button3 a:hover {}

/* From han.css - Check ?? */
#page-bar p span.button2 {}
#page-bar table a.linkbut {}

.linkbut {
	/*font-size:90%;*/
}

.wiki-edithelp {display: none}
#wikihelp-tab table{}
#wikihelp-tab table td {padding: 2px}
textarea.wikiedit {font-size: 1.3em}
p.editdate {}
div.wiki-edithelp {}
img.externallink {}
 
/* Needed esp. for light-on-dark theme */
div.quicktag {}
div.quicktag img,
#wikihelp-tab td img {}
div#helptool {}

/* Wiki plugins */

/* Code plugin  */
div.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #CCCCCC;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto; 
	width: 90%}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	font-weight: bold}

/* Quote plugin */
div.quoteheader {margin-left: 20px}
div.quotebody {}
table.wikiplugin-split {border: none}

/** Wiki tocs **/
div.tocnav {
	background: #EBEBEB;
	padding: 3px;
	margin-bottom: 4px;
	clear: both}
 
#tocnavicons {float: left}
#tocnavaddpage{float: right}
#tocnavlinks {clear: both}
.fancytoclevel {}
li.toclevel {}

/* TOC */
ul.toc {
	padding-left: 2em;
	margin-bottom: 4px}

ul.toc * {border: none}

/* Wiki diff styles */
.diff td {}
.diff div {}
.diffheader {}
.diffadded {}
.diffdeleted {}
.diffinldel {}
.diffbody {}
.diffchar {}

/***** Articles ****/

div.article {margin-bottom: 40px}

div.articletopline {
	font-size: 90%;
	font-style: italic}

div.articletitle {
	padding-top: 16px;
	margin-top: 6px;
	margin-bottom:	15px;
	text-align:	left}
 
span.titlea {
	font-size: 1.5em;
	font-weight: normal}

span.titleb {font-size: 1.0em} 
div.articlesubtitle {font-size: 0.9em}
 
div.articleheading {
	margin-top: 6px;
	line-height: 1.15em}

/* From han.css - Check ?? */.articleheading table {
	width: auto}

div.articleheadingtext {}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding: 2px 0 2px 0;
	margin-bottom:10px}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0 2px 0;
	margin-bottom: 10px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding:2px 0 2px 0;
	margin-bottom:10px}

div.articletrailer {text-align: right}

div.articletrailer .wikitopline {float: left} 
div.articlebody {line-height: 1.5em}
 
div.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}
 
/***** Blogs *****/

div.blogheading {
	display: block;
	width: 100%;
	clear: both}

div.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

div.blogdesc {
	display: block;
	width: 40%;
	padding: 8px;
	margin-top: 8px;
	margin-left: 6px}

div.bloginfo {
	text-align: center;
	display: block;
	padding: 3px;
	line-height: 150%;
	text-transform: none}

div.blogtools {
	padding: 3px;
	text-align: right;
	/*margin-bottom: -2em;*/
}

.blogpost {}
/*.postinfo div a img,*/

a.blogt,
a.blog:visited {}

a.blogt:hover {}
div.postinfo a.linkmodule {}
.postinfo div {margin-top: 30%}

div.posthead {
	text-align: left;
	padding: 3px}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

.small {} /* Check ?? (from fluidindex */

span.posthead {
	display: block;
	font-weight: bold;
	letter-spacing: .4pt}
 
div.posthead h3 {font-size: 1.2em}
 
div.postbody {
	margin-right: 8px;
	line-height: 1.2em;
	margin-bottom: 1em}

div.postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em}

/***** Forums *****/

body.tiki_forums table.normal {margin: auto}
#forumpost {display: none}
#forumpostopen {display: block}

table.commentinfo {}

/* Forums new */
.post {clear: both}

.post .postbody {
	clear: both;
	width: 100%;
	border: solid 1px #E7EAED;
	margin: 0;
	margin-top: 5px;
	padding: 3px 0;
	background: #F9FCFF}

.post .postbody-title {
	display: block;
	background: #67ade7; 
	border-bottom: none;
	margin-bottom: 4px;
	height: 100%;
	overflow: auto;
	padding-top: 2px}
	
.post .postbody-title .checkbox {float: left}

.post .postbody-title .title {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 5px;
	margin-top: 3px}

.title a.link {color: #fff}

.post .postbody .content {
	color: #000000;
	/*float: left;*/
	height: 100%;
	padding: 0 3px 3px;
	text-align: left;
	width: 100%}

.post .author {	
	float: left;
	text-align: left;
	vertical-align: top;
	width: 30%;
	margin-left: 0;
	margin-top: 0}

.post .author_post_info {
	display: block;
	background: #E0EAF4;
	padding: 0 2px 2px 2px}

.post .author_info .icons {display: block}
.post .author_info .icons .actions {margin-right: 10px}

.post .author_post_info_on {font-style: italic}

.post .author_info {
	float: right;
	background: #F0F8FF;
	padding: 0 2px 2px 2px;
	margin-right: 5px;
	border-right: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3}

.commentStyle_headers .author_info {float: left}

.post .postbody-title .actions {
	float: right;
	font-size: .9em}
	
.post .postbody .content {
	width: 100%;
	height: 100%;
	text-align: left;
	color: #000000}

.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px}

.post .postbody .attachments img {vertical-align: text-bottom}

.post .postfooter .actions, .post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top}

.post .postfooter .status {font-size: .9em}

.post .postfooter {
	/*float: right;*/
	text-align: right}

.post .inner > .postfooter {clear: both}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px}

.post .avatar {
	/*float: right;*/
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #ACCCDD;
	background: #E0EAF4;
	display: none}

.sub_comment {padding-left: 20px}

.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left}

.forum_actions .actions {
	clear: both;
	border: 1px solid #A9B8C2;
	background: #67ade7;
	padding: 3px;
	vertical-align: middle;
	color: #fff}

.forum_actions .actions .action {margin-right: 10px}

.forum_actions .headers {vertical-align: bottom}

.forum_actions .headers .title {
	float: left;
	background: #C7D0D9;
	border: 1px solid #999999;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}
.post_preview, .top_post {margin-bottom: 15px}

/*.post .postbody .signature { float: left}*/

/* Comments */
#comzone {
	display: none;
	margin: 5px 0;
	padding: 0}

#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0}
 
span.commentstitle {
	font-weight: bold;
	font-size: 1.2em}

/* Find */
.subcomment {margin-left: 10px}

/* Help box*/
div.commentsedithelp {}

/***** Categories *****/

table.tcategpath {
	margin-bottom: 40px;
	border: 1px solid #8CACBB;
	width: 100%;
	border-collapse: collapse}

td.tdcategpath {
	font-weight: bold;
	padding: 0 3px;
	margin: 0px;
	border-spacing: 0px}

.categpath {}

table.subcats {
	padding: 20px 0;
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 10px;
	border: 1px solid #67ade7;
	border-collapse: collapse}

td.tdsubcat {width: 25%}
.categlink {}
table.catobjects {}

td.categobjectsnameeven,
td.categobjectsnameodd {}

td.categobjectsdataeven,
td.categobjectsdataodd {}

.catname {}
.catblock {}
.catlists {}
.catlists:hover {}
.cattitle {font-weight: bold}
.catlists a.link {}
.catlists a.link:hover {}

/***** Tags (freetags) *****/
li.freetag {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}
ul.freetag {
	margin: 0;
	padding: 0;
	display: inline;
}

.freetag a {display:inline}
a.freetag_1 {text-decoration: none; font-size: .8em}
a.freetag_2 {text-decoration: none; font-size: .9em}
a.freetag_3 {text-decoration: none; font-size: 1em}
a.freetag_4 {text-decoration: none; font-size: 1.2em}
a.freetag_5 {text-decoration: none; font-size: 1.4em}
a.freetag_6 {text-decoration: none; font-size: 1.6em}
a.freetag_7 {text-decoration: none; font-size: 1.8em}

div.freetagObjectOdd {
	margin: 2px;
	background: #F7F9FA;
	position: relative}

div.freetagObjectEven {
	margin: 2px;
	background: #E7E9EA;
	position: relative}

div.freetagObjectName a {text-decoration: none}

div.freetagObjectType {
	position: absolute;
	top: 0;
	right: 0}

/***** Image Galleries *****/

table.galtable {}
html>body .galtable {}

td.oddthumb {border-collapse: collapse}
td.eventhumb {border-collapse: collapse}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}

/* ?? */
div.thumbnails {}
img.athumb {}
.caption {}
p.norecords {}
div.imagetitle {}
div.gallerylink {}
div#browse_image {} /* Check - from fluidindex ?? */
div.showimage {}
div.imgaldescr {}
.sorttitle {}

/***** File Galleries *****/

div.thumbnailcontener {}
div.thumbnail {}
div.thumbnamecontener, div.thumbimagecontener {}
div.thumbnamecontener {}
div.thumbname, div.thumbimage {}
div.thumbnamesub, div.thumbimagesub {}
div.thumbnail:hover {}
div.thumbnail:hover div.thumbnamecontener {}
div.thumbimage img {}
div.thumbinfos {}
div.thumbinfo {}
span.thumbinfoval {}
div.thumbname {}
div.thumbactions {}
div.thumbactions * {}
div.thumbactions input {}
div.thumbactions a {}
div.thumbdescription {}
div.thumbdescription + div.thumbinfo {}
div.thumbdescription span.thumbinfoname {}
a.namealias {}
div.gallerypath, div.gallerypath a {}
div.gallerypath a:hover {}
.fgalexplorer {}
.fgallisting table td {}

/***** Trackers *****/

.statuson {
	padding: 1px;
	margin: 1px;
	vertical-align: middle}

.statusoff {
	padding: 1px;
	margin: 2px;
	vertical-align: middle}

/***** Calendar *****/

.Cal0, 
.Cal1, 
.Cal2 {font-size: 90%}
	
.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {
	font-size: 90%}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Caleph,
.Caleph a,
.Caleph a:visited {color: #008000}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {color: #8B4513}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000} 

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

Caltrack,
Caltrack a,
Caltrack a:visited {color: #00BD02}
	
.Calweb {font-size: 90%}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.calfocus {font-size: 90%}
.calfocuson {font-size: 90%}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393E51}

.opaque {
	border-left: 1px solid #A9A9A9;
  	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969}

.opaque .box-title {border-bottom: 1px solid black}
.searchresults {display:inline}

#caltable .calfocuson,
.box-data td.fc a.today,
.box-data td a.today {
	background: #D4D0C8;
	border: solid 1px #696969}

#caltable .calfocuson a {color: #000}

#caltable .calfocus a,
#caltable .calfocuson a {text-decoration: none}

.day, .day:visited {}
.today {}
.nav {}
.changedate {}
.date {}

/* May be necessary to override calendar.css, etc. */
.calinput {background: #3F3F3F}
.calfocuson + .calcontent {background: #F5F5F5}
.days {color: #467aa7}
#caltable .weeks {color: #D8D8D8}

.addevent {
	padding: 0 5px;
	float: right}

* html .addevent {padding: 0}
.calodd, .caleven { border: 1px solid #999999}

.calodd {
	background: #F0F0F0;
	color: #000000}

* html .calodd {padding: 0}

.caleven {
	background: #DCDCDC;
	color: #000000}
	
* html .caleven {padding: 0}
.caldark {background: #467aa7}
* html .caldark {padding: 0}
.caldark .calfocus {background: #467aa7}

.daterow {
	background: #578bb8;
	color: #fff}

.daterow:hover {background: #a9a9a9}
.calnavigation a:hover {background: #67ade7}


/*****  Polls  *****/

div.pollresults {
	margin-top: 5px;
	font-size: 1em;
	padding: 0 5px}

table.pollresults {width: 100%}
td.pollr {color: black}
#pollopen {display: block}
#pollzone {display: none}
#polledit {display: none}
.pollnav {}

/***** FAQs *****/

div.faqlistquestions {
	background: #67ade7;
	color: #fff;
	padding: 2px;
	margin-bottom: 20px}

.faqlistquestions a.link,
.faqlistquestions a.link:visited {
	color: #fff;
	text-decoration: none}

.faqlistquestions a.link:hover {text-decoration: underline}

div.faqqa {
	background: #FFFFFF;
	color: black;
	border: 1px solid #8CACBB;
	margin-bottom: 20px}

div.faqquestion {
	font-weight: bold;
	color: #fff;
	padding: 2px 12px;
	background: #67ade7}

div.faqanswer {
	padding: 4px 12px;
	padding-top: 0}

/***** Quizzes *****/

div.questionblock {
	border: 1px solid #8CACBB;
	background: white;
	padding: 4px;
	margin-bottom: 10px}
 
div.quizquestion {margin-bottom: 5px}
div.quizoptions {}
 
div.quizdescription {
	border: 1px solid #8CACBB;
	background: white;
	margin-bottom: 10px}
 
div.quizanswer {
	border: 1px solid #8CACBB;
	background: white;
	margin-bottom: 10px}

/***** Shoutbox *****/

div.shoutboxmsg {
	border: 1px solid #67ade7;
	border-bottom: 0;
	background: white;
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px}

div.shoutboxmsg:last-child {/*border-bottom: 1px solid #8CACBB;*/}

div.shoutboxmodmsg {
	font-size: 1em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px}

textarea.tshoutbox {
	background: white;
	border: 1px solid #67ade7;
	color: #000000;
	font-size: 1.2em;
	width: 162px}

.wiki-table {}
.wiki-tr-a td {}
.wiki-tr-b td {}

/***** Directory *****/

div.dircategs {}
.dirlink {}
.dirsublink {}
div.dirlistsites {}

div.dirsite {
	margin-bottom: 10px;
	padding: 4px}

span.dirsitedesc {}
span.dirsitetrail {font-size: 95%}
span.dirsitecats {font-size: 95%}
.dirsitelink {}
div.dirrelated {}
td.dirfooter {}
div.dirfooter {}

/***** Messages *****/

td.prio1, td.prio2, td.prio3, td.prio4, td.prio5 {
	border: 1px solid #8CACBB;
	padding-left: 2px}

td.prio1 {background: #F7F9CA}
td.prio2 {background: #F7F9EA}
td.prio3 {background: #F7F9FA}
td.prio4 {background: #F7F9FD}
td.prio5 {background: #F7F9FF}

div.messureadflag {
	background: #CCCCCC;
	padding-left: 5px}

div.messureadhead {
	background: #DEDEDE;
	margin-top: 2px}

div.messureadbody {
	margin-top: 5px;
	background: #DEDEDE}

.readlink {
	font-size: .95em;
	color: black}

/***** Messages *****/

td.prio1, td.prio2, td.prio3, td.prio4, td.prio5 {
	border: 1px solid #8CACBB;
	padding-left: 2px}
	
td.prio1 {background: #F7F9CA}
td.prio2 {background: #F7F9EA}
td.prio3 {background: #F7F9FA}
td.prio4 {background: #F7F9FD}
td.prio5 {background: #F7F9FF}

div.messureadflag {
	background: #CCCCCC;
	padding-left: 5px}
	
div.messureadhead {
	background: #DEDEDE;
	margin-top: 2px}
	
div.messureadbody {
	margin-top: 5px;
	background: #DEDEDE}

.readlink {
	font-size: 1em;
	color: black}

/***** Ajax *****/

div#ajaxLoading {
	display: none;
	background: white;
	position: absolute;
	top: 50px;
	right: 50%;
	color: #467aa7;
	padding: 3px;
	font-family: Verdana;
	font-size: 90%;
	text-align: center;
	background: transparent url(../lib/shadowbox/images/loading-light.gif) no-repeat 50% 100%;
	height: 43px;
	width: 50px}

#shadowbox_title {
	height: auto !important;
	padding: 0;
	overflow: visible}

#shadowbox_title_inner {
	height: auto !important;
	font-size: 1em !important;
	line-height: 1em !important;
	white-space: normal !important;
	padding:5px 0 4px 8px}

/***** TikiSheet Default Style *****/

table.default thead td,	table.default tfoot td {
	font-weight: bold;
	text-align:	center;
	background: black;
	color: #D8D8D8}

table.default td {
	border: solid 1px #A9A9A9;
	background: black}

/***** 'Advanced feature' *****/

.advanced {
  margin: 20px;
  padding: 5px;
  border: 1px solid #A9A9A9;
  background: #988CAA;
  color: #FFFFFF}

.advanced:before { content:url(../img/icons/mini_blue_diamond.gif)" "}

.highlight_word_0{color: #ffff66; background: black}
.highlight_word_1{color: #ff9999; background: black}
.highlight_word_2{color: #A0FFFF; background: black}
.highlight_word_3{color: #ff66ff; background: black}
.highlight_word_4{color: #99ff99; background: black}

.center {text-align: center}
.justify {text-align: justify}
.right {text-align: right}

/***** mypage *****/

.mypage_configure th {width: 180px}

#sideBarTab {background: url('../img/cord.png') no-repeat}
#sideBarContents {background: #fff}

a.admbox {
	border: 1px solid #AAAAAA;
	background: #578bb8 center no-repeat; 
	color: #c4d6e5}

a.admbox:hover, a.admbox:focus, a.admbox:active  {
	background-color: #B2B2B2;
	border: 1px solid #292929}

a.admbox.off {
	border: 1px solid #9f9f9f;
	color: #c4d6e5}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {border: 1px solid #9f9f9f}

/* end of css file */