html {
	color: #000;
	background: #fff}

body,
div.postbody {
	color: #000;
	background: #fff;
	font: 100%/140% Georgia, "Times New Roman", Times, serif;
	text-align: left}

#tiki-main {
	text-align: left}

h1 a,
h2 a,
h3 a {
	color: #000;
	text-decoration: none
}

p {
	margin: 0;
	text-indent: 2.5em}

div#tiki-clean,
div#tiki-mid {
	margin: 0}

.pagetitle {
	border-bottom: 0}

#siteheader,
#sitesearchbar,
#sitenavbar,
ul#sosnav,
a#returnlink,
.articletrailer {
	display: none}
