/*
 * $Id$
 * The Andreas09 theme for Tiki CMS/Groupware is adapted from the original template by Andreas Viklund.
 * This adaptation by Gary Cunningham-Lee (chibaguy) uses the layout methods of lite -
 * a source ordered layout solution by luci (http://www.ground.cz/luci/css/lite).
 * For more information, please visit http://themes.tikiwiki.org or http://zukakakina.com.
 *
 */

 @import "lite/lite.css"; /* here we import *lite as the base */

/***** XHTML Elements ******/

body {
	background: #f0f0f0 url(andreas09/bodybg.jpg) repeat-x;
	color: #303030;
	font-size: 67% !important;
	font-family: Verdana,Tahoma,Arial,sans-serif}

html>body {font-size: 72% !important}
body#fullscreen {}

a,
a:visited {
	color: #505050;
	font-weight: bold;
	text-decoration: none}

a:hover {
	color: #808080;
	text-decoration: underline}

caption {}
div {font-size: 1em}

h1, h2, h3, h4 {
	color: #606060;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 0}

h1 {font-size: 1.8em}
h2 {font-size: 1.6em}
h3 {font-size: 1.4em}
h4 {font-size: 1.3em}
h5 {font-size: 1.2em}

p {
	line-height: 1.5em;
	margin: 0 0 15px}

img {border: 0}

fieldset {
	border: solid 1px #A9A9A9;
	padding: 10px}

input {
	border: solid 1px #aaa;
	line-height: 1.6em;
	padding: 0.1em;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle;
	font-size: 1em}

input[type=text],
input[type=password] {
	font-size: 1.1em;
	border: solid 1px #aaa;
	width: 120px}

input[type=submit],
input[type=file],
select {
	border: solid 1px #aaa;
	background: #F5F5F5;
	color: #000;
	font-size: 1.1em;
	vertical-align: middle;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x;
	cursor: pointer}

#col2 input[type=submit],
#col2 input[type=file],
#col2 select {font-size: 120%}

button {
	border-left: 1px solid #A9A9A9;
	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
	color: #666;
	font-size: 0.9em;
	line-height: 1.6em;
	vertical-align: middle;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x;
	font-weight: bold;
	margin: 2px;
	vertical-align: middle;
	text-transform: uppercase;
	cursor: pointer}

button:hover,
.dropdownbutton:hover {cursor: pointer}

select[multiple] {height: 10em}

select[name="theme"] {
	width: 165px;
	border-top: 1px solid #A9A9A9;
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
	background: #F5F5F5}

input[type=checkbox] {border: 0}
small {font-size: 0.9em}
textarea {font-size: 1em}

form {
	margin: 0;
	padding: 0}

ul, ol {text-align: left}

/***** Page Layout *****/

/** off-screen **/

ul.jumplinks {
	font-size: 0.8em;
	list-style-type: none}

ul.jumplinks, .jumplinks {
	position: absolute;
	top: -9000px;
	left: -9000px;
	z-index: 9}

ul.jumplinks a:focus, ul.jumplinks a:active {
	position: absolute;
	top: 9010px;
	left: 9010px;
	background-color: #339999; 
	color: #fff;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #000;
	width: 6em;
	z-index: 9}

#fullscreenbutton {
	position: absolute;
	top: 2px;
	right: 10px;
	z-index: 10;
	font-size: 80%;
	color: #C2C1BD}

#fullscreen #tiki-clean {
	text-align: left;
	padding: 1em}

#fullscreenbutton {color: #303030}

#tiki-clean {
	text-align: left;
	padding: 1em}

/*** Type 1 (*litecss-based) layout 
	(overrides lite.css) ***/
#main {}

#header {
	/*color: #ffffff;
	height: 92px;
	margin: 0 20px 10px;
	text-align: left;
	height: 100px !important;*/ /* dblcheck this size */
}

#middle {margin-top: 20px}

#c1c2 {
	text-align: left;
	font-size: 1em}

#fullscreen #col1 {
	margin-left: 30px !important;
	margin-right: 30px !important}

body#fullscreen {background: #F1EEEC}
#c1c2 #wrapper #col1.marginleft {margin-left: 185px}/* Change this when width of #col2 is changed. */
c1c2 #wrapper #col1.marginright {margin-right: 185px}/* Change this when width of #col3 is changed. */

#c1c2 #col2 {
	width: 185px;
	font-size: 1.1em}

#c1c2 #col2 .content {
	margin: 0;
	padding: 0;
	padding-left: 10px}

#col3 {
	width: 185px;
	text-align: left;
	font-size: 1.1em;
	margin-left: -185px
}

#col3 .content {
	padding-right: 8px;
	overflow: hidden}

#footer {
	background: #8B8B8B url(andreas09/footerbg.jpg) top left repeat-x;
	/*clear: both;*/
	color: #d0d0d0;
	font-size: 0.9em;
	font-weight: bold;
	padding: 20px 0;
	text-align: center}

#footer a {
	color: #d0d0d0;
	font-weight: bold}

#credits {text-align: center}

.footerbgtrap {
	/*background-color: transparent;*/
	color: #d0d0d0}

/* end Type 1 layout divs, etc. */

/*** Error page ***/

div#tiki-main #tiki-top {margin-top: 100px}

div#tiki-main #tikimidtbl {
	margin: auto;
	width: auto}

#tikimidtbl .cbox {
	background-color: #fafcff;
	border: 1px solid #909090;
	color: #2a2a2a}

/* Site Header & Identity */
#header-top {height: 101px !important}

#siteheader {
	text-align: left;
	background: transparent;
	vertical-align: middle;
	color: #ffffff;
	height: 92px;
	margin: 0 20px 10px;
	text-align: left;
	position: relative}

#sioptions  {padding: 1em}

#sioptionscentered {
	text-align: center;
	margin: 1em}

div.floatright {
	float: right;
	clear: none}

div.floatleft {
	float: left;
	clear: none}

#sitelogo {margin: auto !important}

div#sitead {margin: auto}
#sitead.floatright {padding-right: 100px}
#sitead.floatleft {padding-left: 100px}
#sioptionscentered #sitead.floatleft {padding-left: 10px}
.floatright img {margin-right: 40px}
#sitelocbar {float: left}

#siteloginbar {
	text-align: right;
	position: absolute;
	bottom: 2px; right: 0;
	font-size: 95%}

#siteheader #description {}

/* #header text selectors, if needed */

#sitetitle,
#sitesubtitle {
	color: #ffffff;
	font-weight: 400;
	letter-spacing: -2px;
	margin: 0;
	padding: 0}

#sitetitle {
	font-size: 2.6em;
	padding-top: 20px}

#sitesubtitle {font-size: 1.6em}

#header-top a,
#header-top a:link,
#header-top a:visited {color: #fff}

/** horizontal menu and search form **/

#tiki-top {}
#tiki-top a {}
#tiki-top table {width: auto}

#sitesearchbar {
	float: right;
	margin-right: 10px;
	margin-top: 6px;
	clear: none}

#sitesearchbar .button {
	border: solid 1px #AAAAAA;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x;
	color: #505050;
	font-weight: bold;
	margin: 2px;
	vertical-align: middle;
	text-transform: uppercase}

/* end header */

/* centercolumn */

/*#c1c2 #wrapper #col1 .content {
	width: auto !important;
	width: 100%}*/

#c1c2 #wrapper #col1 #tiki-center {
	background-color: #fafcff;
	border: 1px solid #909090;
	color: #2a2a2a;
	padding: 15px 20px 5px;
	margin-left: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	font-size: 1.03em}

#showhide_columns {padding: 0 20px}

a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited  {
	font-size: 80%;
	color: #909090}

.tellafriend a:hover,
a.flip:hover {
	color: #000;
	text-decoration: none}

a.flip img {display: none}

.tellafriend {
	text-align: right;
	padding-right: 20px}
/* end layout divs, etc. */

/** Border boxes (if any) **/

/****** Menus ******/
/** PHP Layers Menus **/

.horbar {
	margin-left: 0;
	float: left;
	clear: none;
	height: 35px}

.horbar table {width: auto}

.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited {
	border-right: 1px solid #b0b0b0;
	color: #606060;
	display: block;
	font-size: 0.8em;
	padding: 11px 10px 10px;
	text-transform: uppercase}

.horbaritem a:hover {
	background: #f0f0f0 url(andreas09/menuhover.jpg) top 	left repeat-x;
	color: #505050;
	text-decoration: none}

div.mdkitem  {
	position: relative;
	text-align: left;
	white-space: nowrap;
	margin-bottom: 4px;
	display: block}

.mdkverbar a,
.mdkitem a,
.cssmenu_vert li a  {
	font-size: .9em;
	background-color: #e8e9ea;
	border: 1px solid #b0b0b0;
	color: #606060;
	text-transform: uppercase;
	position: relative;
	display: block;
	padding: 6px 4px}

.box .mdkitem a,
.cssmenu_vert li a {
	width: 140px;
	padding: 4px 2px 2px 8px}

.cssmenu_vert li {padding-bottom: 4px}
.cssmenu_ver li a ul {border: 0}
.cssmenu_vert li:hover ul, .cssmenu_vert li li:hover ul, .cssmenu_vert li li li:hover ul, .cssmenu_vert li.sfhover ul, .cssmenu_vert li li.sfhover ul, .cssmenu_vert li li li.sfhover ul { /* lists nested under hovered list items */border: 0}


.mdkitem a:hover,
.mdkitem a:active, 
.cssmenu_vert li a:hover {
	background: #f8f9fa;
	border: 1px solid #909090;
	color: #303030;
	text-decoration: none}

.mdksubmenu {
	z-index: 500;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden}

.mdksubmenu table {width: auto}

.box .mdksubmenu {
	text-align: left;
	padding: 0;}

* html .box .mdksubmenu {width: 1%}
.box .mdksubmenu table {text-align: left}

.mdksubframe  {
	display: block;
	z-index: 1000;
	position: relative}

.mdksubframe .mdkitem {margin-bottom: 0}
 
.box .mdksubframe div.mdkitem {
	margin-left: 0;
	padding-left: 0}

.mdkverbar .mdkitem a, 
.box .mdkitem a {/*vertical menu subitems */
	/*padding: 4px 2px 2px 8px;*/}

.box .mdksubframe div.mdkitem {
	margin-left: 0;
	padding-left: 0}

.mdkitem .mdkfwdarr {
	position: absolute;
	top: 7px;
	right: 12px}

/* Tree menu (also on Browse Categories */
.treemenudiv {
	display: block;
	white-space: nowrap}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #303030;
	text-decoration: none;
	font-weight: bold}

td.phplmnormal {padding-left: 2em}
a.phplm:visited {color: #726461}
a.phplm:hover {color: #808080}
a.phplm:active {color: #ff0000}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: black;
	text-decoration: underline;
	font-weight: bold;
	background: url(andreas09/menuhover.jpg)}

a.phplmselected:hover {color: #808080}

/** Links in other menus **/

div.separator {
	background: #e8e9ea;
	border: 1px solid #b0b0b0;
	color: #606060;
	display: block;
	margin-top: 8px;
	margin-bottom: -4px;
	padding: 5px 4px 4px 10px;
	position: relative;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	width: 140px}

div.separator:visited {font-weight: bold}

div.separator:hover,.active {
	background: #f8f9fa;
	border: 1px solid #909090;
	color: #303030;
	text-decoration: none}

.separator:hover,
div.option a.linkmenu:hover {text-decoration: none}

.option {margin-top: 6px}

div.optionline,
.option a {
	background: #e8e9ea;
	border: 1px solid #b0b0b0;
	color: #606060;
	display: block;
	position: relative;
	text-transform: uppercase;
	font-size: 1em;
	padding: 4px 2px 2px 8px;
	width: 125px;
	margin-bottom: -4px;
	margin-top: -4px}

div.option a:hover,
div.option a:active {
	background: #f8f9fa;
	border: 1px solid #909090;
	color: #303030;
	text-decoration: none}

div.option {margin-left: 18px}

div.menuSection {
	margin-bottom: .3em;
	padding-bottom: .3em}

/****** Misc. Global Classes (layout and style) ****/
.hidden {
	position: absolute;
	left: -10000px;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden}

.floatlist {
	clear: left;
	list-style-type: none;
	margin: 0;
	padding-left: 0}

.floatlist li {float: left}

div#attzone, div#comzone {
	display: none}

div#attzoneopen, div#comzoneopen {display: block; margin-top: 10px}
div#edithelpzone {display: none}
#edithelpzone code {font-size: 1.2em}
#rules-copy-panel {display: none}
.clear, #clear {clear: both}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

/* IE */ * html .clearfix {height: 1%}
#overdiv table {width: auto !important}
.attention {color: red}
.highlight, #highlight  {}

/* Banners, text type */
.bannertext {
	font-size: .95em;
	text-decoration: none}

.bannertext:hover {}

/* Check on the next 4 groups ?? */
div.imagerank {}

.link, .gallink, .bloglink, .fgallink, .trailer,
.opencomlink, .commentslink, .admlink,.forumbutlink {}

div.searchdate {}
div#debugconsole {}

/* Pagination for listings */
.mini {
	width: 100%;
	text-align: center;
	font-size: .9em}

.prevnext, .galprevnext, .blogprevnext, .fgalprevnext,
.artprevnext, .forumprevnext {
	font-size: 1em;
	padding: 1px 6px}

a.tikihelp, a.tikihelp:visited {
	border: 0;
	vertical-align: text-top}

a.tikihelp:hover {
	cursor: help;
	vertical-align: text-top}

#rss img {vertical-align: middle}

/** Admin pages **/
/* overrides inline css */
div.adminanchors {background: url(andreas09/bodybg.jpg) repeat-x !important}

/** Modules **/
.box-shadow {}
div.box {overflow: hidden}

/* Needs to be set for CSS menu in col2 to work */
#col2,
.box-menu_css_v_43,
.box-menu_css_v_43 .box-data,
.box-menu_css_v_43 ul { overflow: visible !important }

.box-menu_css_v_43 .box-data {padding-left: 1em}

h3.box-title {
	overflow: hidden;
	color: #505050;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0 0 12px;
	position: relative}

.box a.flipmodtitle img {display: none}

.box:hover a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid transparent}

a.flipmodtitle:hover img {border: 1px solid #58A7D2 !important}

.box-data {
	font-size: 0.9em;
	line-height: 1.4em;
	margin: 0 0 16px 10px;
	overflow: hidden}

.box-data select {width: 120px}

/* tables in modules */
.box-data table {margin: auto}

.box-data table td {
	padding: 0.2em;
	text-align: start}

.box-data ol,
.box-data ul {margin-left: -2em;padding-right: 1em;overflow: hidden}
/* IE */
* html .box-data ol {margin-left: 1em}
* html .box-data ul {margin-left: 1em}
/* IE7 */
*:first-child+html .box-data ol {margin-left: 2em}
*:first-child+html .box-data ul {margin-left: 1em}

.box-data ol li {}

/** controls for modules **/
span#moduleflip {
	display: block;
	float: right}

.modcontrols {
	display: block;
	float: right;
	width: 64px;
	height: 16px}

.modcontrols a {
	display: block;
	float: left;
	width: 16px;
	height: 16px}

.modcontrols a span {display: none}

/** Other boxes **/
.cbox {
	overflow: hidden;
	border: 1px solid #999999;
	margin: 6px}
 
.cbox-title {
	text-align: left;
	text-indent: 1em;
	border-bottom: 1px solid #999999;
	padding: 4px 4px 0 4px;
	font-weight: bold}

.cbox-data {
	overflow: hidden;
	padding: 1px 4px 4px 4px}

.cbox-data ul ul {margin: auto}

.rbox {
	overflow: hidden;
	border: 1px solid #606060;
	background: #F1F1F1;
	padding: 4px}

.rbox-title {
	display: inline;
	text-align: left;
	padding: 3px;
	font-weight: bold}

.rbox-data {padding: 3px}
.rbox-title[name="comment"],
.rbox-data[name="comment"] {}

.rbox-title[name="note"] {}
.rbox-data[name="note"] {}

.rbox-title[name="tip"],
.rbox-data[name="tip"],
.rbox-data.tip {}

.rbox-title[name="warning"] {}
.rbox-data[name="warning"] {}

div.simplebox {
	border: 1px solid #666;
	padding: 4px}

 /***** Tables, Tabs and Lists ****/
/** Tables **/
table {font-size: 1em}

table.normal, 
table.admin,
table.bloglist {border: solid 1px #909090}

table.admin tr td div#page-bar {}

.wikitable {
	border-top: 1px solid #A9A9A9;
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
	vertical-align: top}

td {}
/* IE */ * html td {font-size: 11px}
th {}

/* Cells in forms using a background color */
.formcolor td,
.galform td,
.editblogform td,
.editfgalform td,
.comform td,
.forumform td {}

table.email {}
table.email td.body {}
table.email td.heading {}
table.email td.closeButton {}

/* headings */

div.heading, td.heading {
	background-color: #DCDCDC;
	text-align: center}

table.normal td.heading {font-size: 1em}
form.admin {}
form.admin fieldset {}
form.admin legend.heading {}
form.admin legend.heading a {}
form.admin legend.heading a:hover {}
form.admin legend.heading a span {}
form.admin legend.heading a:hover span {}
div.heading {}

.button {}

table.findtable {}
.findtable td {}

/* Odd rows in several listings */
tr.odd {}
tr.odd:hover {}
tr.even {}
tr.even:hover {}
td.odd {
	background-color: #F5F5F5;
	border-right: 1px solid #DDDDDD}

td.even {
	background: #ECECEC;
	border-right: 1px solid #DDDDDD}

tr.even td.even,
tr.odd td.odd {}

td.third {}

td.normal,
td.bloglist,
td.odd,
td.even {
	margin: 0;
	padding: 0.2em;
	vertical-align: top}
	
td.form {padding: .2em}

/* cells in tracker items display */
td.formlabel {}
td.formcontent {}

/* links to view an object from a table listing objects can be generalized to this link */
a.fgalname {}
a.fgalname:hover {}
 
a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {}

a.forumnameread {}

/* links in table headings */
.tableheading,
.gallistheading,
.listgalheading,
.bloglistheading,
.llisfgalheading,
.llistfileslink,
.llistart,
.lforumheading {}


/** Tabs **/
.tabs {}
.tabactive {}
[class].tabactive {}
.tabactive a {}
.tabinactive {}
[class].tabinactive {}

.tabmark {
	display: inline;
	font-size: .95em;
	background-color: #DDDDDD;
	border: 1px solid #666666;
	margin: 0;
	margin-right: 5px;
	padding: 2px 0}

.tabmark a {
	border-bottom: 0;
	color: #666666;
	font-weight: bold;
	padding: 1px 5px}

.tabmark a:active {color: #636466}

.tabmark a:hover {
	color: black;
	text-decoration: none;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x}

.tabcontent {
	z-index: 0;
	position: relative;
	padding: 6px 2px 2px 2px;
	margin: 5px;
	margin-top: 0;
	background-color: #DCDCDC}

.tabcontent table {}
.tabcontent table td {}
form fieldset.tabcontent {}
form.admin .tabs {}

/* Get the contextual info to make this specific. */
div.content {}
div.content .tabs {}
.tab-wrapper {}

.tab-menu  {
	clear: both;
	line-height: 17px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 2px 0;
	margin-bottom: 6px;
	margin-top: 2px;
	width: 100%}

.tab-menu li {
	display: inline;
	margin: 0 2px;
	width: 200px;
	padding-right: 1.5em}

.tab-menu li img {vertical-align: middle}
.tab-menu li a {} 
.tab-menu li a:hover, 
.tab-menu li a:focus {} 
.tab-menu li a:hover {} 
.tab-menu li.tab-selected a {}

/* Check ?? */
.tab-wrapper {
	border: 1px solid #EEEEEE;
	padding: 0}

/* CHECK ??
.tab-menu li img {
	vertical-align: middle}*/

/*  tiki tabs -- deprecated?
table.admin tr td div#page-bar {
	margin-left: 5px;
	margin-bottom: 0;
	background-color: transparent}*/

span#tab1 {background: #F5F5F5}
span#tab2 {background: #ECECEC}
span#tab3 {background: #DCDCDC}

#content1,
#content2,
#content3 {
	border-top: 1px solid #A9A9A9;
	border-left: 1px solid #A9A9A9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969}

#content1 {
	padding: 10px;
	background-color: #F5F5F5}

#content2 {
	padding: 5px;
	background-color: #ECECEC}

#content3 {
	padding: 5px;
	background-color: #DCDCDC}

table.admin div#content1 div.tabcontent div.cbox {background-color: transparent}

/* Check ?? */
table.admin tr td div#page-bar {
	margin-left: 5px;
	margin-bottom: 0;
	background-color: transparent}

/*** Feature-specific selectors ***/

/***** Wiki *****/

h1 a.pagetitle {}
.wikitopline {}

div#description {
	font-size: 1.2em;
	font-style: italic}

#pageid {
	float: left;
	clear: both}

#cachedpage {}

.catpaths {
	background: #EBEBEB;
	margin-right: 5px;
	margin-top: 3px;
	border-bottom: 1px solid #B0B0B0}

.categpath {font-size: x-small}

#cachedpage {
	float: right;
	font-size: small}

.wikitext {line-height: 1.5em}

.wikitext h2, h3, h4, h5 {
	color: #606060;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0 0 15px;
	padding: 0}

.wikitext h2 {
	font-size: 1.6em;
	margin-bottom: 10px}

.titlebar {
	background:#f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x;
	color:#505050;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.1em;
	margin-bottom: 0.5em;
	margin-top: 1em;
	text-indent: .8em}

.wikitext ul li {} 
.wikitext ul li ul li {}
.wikitext ol {}

/* From Tikineat */
.wikitext div.box {}
.wikitopline table {}
html>body .wikitopline table {}
/* End from Tikineat */

table.wikitable {
	border: 1px solid #A9A9A9;
	border-collapse: collapse}
 
td.wikicell {
	padding: 3px;
	border: 1px solid #A9A9A9;
	border-collapse: collapse}

.editdate {padding-bottom: 5px}

div#page-bar {
	display: block;
	margin-top: 0}

ul.floatleft {
	display: block;
	list-style: none;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0}

ul.floatleft li {
	float: left;
	padding: 4px 2px}

.editdate ul.floatleft {margin-top: 8px}

span.button2,
div.button2, .button3 {margin-right: 5px}
 
.linkbut {}
.linkbut:hover {}
div.cache {}
div.cachedpage {}
.wikicache, .wikicache:visited {}
.wikicache:hover {}
.wiki {}
.wikinew {}
textarea#editwiki {font-size: 1.2em}
.wiki-edithelp {display: none}
img.externallink {}
 
/* Wiki plugins */

/* Code plugin  */
div.code {
	font-size: 100%;
	padding: 3px;
	border: 1px dashed #CCCCCC;
	background-color: #F4F4F4;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background-color: #FFFFFF;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto; 
	width: 90%;
	font-size: 100%}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	background-color: #FFFFFF;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666666;
	background-color: #E9ECEF;
	font-weight: bold}

/* Quote plugin */
div.quoteheader {margin-left: 20px}

div.quotebody {
	margin-left: 20px;
	font-style: italic;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #D3D3D3;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	color: black;
	background-color: #F5F5F5}

table.wikiplugin-split {}

/** Wiki tocs **/
div.tocnav {
	background: #EBEBEB;
	padding: 3px;
	margin-bottom: 4px}
 
#tocnavicons {float: left}
#tocnavaddpage {float: right}
#tocnavlinks {clear: both}
.fancytoclevel {list-style-image: url(../img/icons/footprint.gif)}
li.toclevel {margin-left: 2em}

/* TOC */
ul.toc {
	padding-left: 2em;
	background: #EBEBEB;
	margin-bottom: 4px}

ul.toc * {}

/* Wiki diff styles */
.diff td {border: 1px solid #A9B8C2}
.diff div {border-top: 1px solid #A9B8C2}
.diffheader {background: #A9B8C2; font-weight: bold}
.diffadded {background: #CCFFCC}
.diffdeleted {background: #FFCCCC}
.diffinldel {background: #FFCCCC; text-decoration: line-through}
.diffbody {background: #F2F4F5}
.diffchar {color: red}

/***** Articles ****/

div.article {margin-bottom: 40px}

div.articletopline {
	font-size: 90%;
	font-style: italic}

div.articletitle {
	color: #606060;
	margin: 0 0 15px;
	padding: 0}
 
span.titlea {
	font-size: 1.6em;
	font-weight:bold}

span.titleb {} 

div.articlesubtitle {
	font-size: 90%;
	font-style: italic}
 
div.articleheading {
	margin-top: 6px;
	line-height: 1.5em}
 
div.articleheadingtext {color: black}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	background: #fafbfc;
	border: 1px solid #b0b0b0;
	padding: 5px}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	background: #fafbfc;
	border: 1px solid #b0b0b0;
	padding: 5px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	background: #fafbfc;
	border: 1px solid #b0b0b0}

div.articletrailer {text-align: right}
div.articletrailer .wikitopline {float: left} 
 
div.articlebody {
	color: black;
	line-height: 1.5em}
 
div.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}
 
/***** Blogs *****/

div.blogheading {
	display: block;
	width: 100%;
	clear: both}

div.blogtitle {
	font-size:1.8em;
	font-weight: bold;
	padding: 3px;
	font-weight: bold;
	letter-spacing: .4pt;
	line-height: 80%}

div.blogdesc {
	display: block;
	width: 40%;
	margin-top: 8px;
	margin-left: 6px}

div.bloginfo {
	text-align: right;
	display: block;
	padding: 3px;
	line-height: 150%}

div.blogtools {
	padding: 3px;
	text-align: right;
	margin-bottom: -2em}

.blogpost {margin-top: 3.5em}

/*.postinfo div a img,*/
a.blogt,
a.blog:visited {}
a.blogt:hover {}
div.postinfo a.linkmodule {}
.postinfo div {}

div.posthead {
	text-align: left;
	padding: 3px;
	font-size: 1.3em}

.postinfo {
	background: #F0F0F0;
	margin-bottom: 6px;
	padding: 2px}

.postinfo a {}
.small {} /* Check ?? (from fluidindex */

span.posthead {
	display: block;
	font-weight: bold;
	letter-spacing: .4pt;
	border-bottom: 1px solid #2F3E4F}
 
div.posthead h2 {
	text-align: left;
	margin-bottom: 10px;
	font-size: 1.4em}

div.description h1 {font-size: 1.3em}
 
div.postbody {
	margin-right: 8px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	line-height: 1.5em}

div.postfooter {
	clear: both;
	float: right}

/***** Forums *****/

#forumpost {display: none}
#forumpostopen {display: block}


.post {clear: both}

.post .postbody {
	clear: both;
	width: 100%;
	border: solid 1px #E7EAED;
	margin: 0;
	margin-top: 5px;
	padding: 3px 0 3px 0px;
	background-color: #F9FCFF}

.post .postbody-title {
	display: block;
	background-color: #67ade7; 
	border-bottom: none;
	margin-bottom: 4px;
	height: 100%;
	overflow: auto;
	padding-top: 2px}
	
.post .postbody-title .checkbox {float: left}

.post .postbody-title .title {
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	margin-left: 5px;
	margin-top: 3px}

.title a.link {color: #fff}

.post .postbody .content {
	color: #000000;
	/*float: left;*/
	height: 100%;
	padding: 0 3px 3px;
	text-align: left;
	width: 100%}

.post .author {	
	float: left;
	text-align: left;
	vertical-align: top;
	width: 30%;
	margin-left: 0;
	margin-top: 0}

.post .author_post_info {
	display: block;
	background-color: #E0EAF4;
	padding: 0 2px 2px 2px}

.post .author_info .icons {display: block}
.post .author_info .icons .actions {margin-right: 10px}
.post .author_post_info_on {font-style: italic}

.post .author_info {
	float: right;
	background-color: #F0F8FF;
	padding: 0 2px 2px 2px;
	margin-right: 5px;
	border-right: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3}

.commentStyle_headers .author_info {float: left}

.post .postbody-title .actions {
	float: right;
	font-size: 1em}
	
.post .postbody .content {
	width: 100%;
	height: 100%;
	text-align: left;
	color: #000000}

.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px}

.post .postbody .attachments img {vertical-align: text-bottom}

.post .postfooter .actions, .post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top}

.post .postfooter .status {font-size: 1em}
.post .postfooter {text-align: right}
.post .inner > .postfooter {clear: both}

.post .contribution {
	background-color: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px}

.post .avatar {
	/*float: right;*/
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #ACCCDD;
	background-color: #E0EAF4;
	display: none}

.sub_comment {padding-left: 20px}

.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left}

.forum_actions .actions {
	clear: both;
	border: 1px solid #A9B8C2;
	background-color: #67ade7;
	padding: 3px 3px 3px 3px;
	vertical-align: middle;
	color: #fff}

.forum_actions .actions .action {margin-right: 10px}
.forum_actions .headers {vertical-align: bottom}

.forum_actions .headers .title {
	float: left;
	background-color: #C7D0D9;
	border: 1px solid #999999;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}

.post_preview,
.top_post {margin-bottom: 15px}

/*.post .postbody .signature { float: left}*/

/* Comments */
#comzone {
	display: none;
	margin: 5px 0;
	padding: 0}
 
#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0}
 
span.commentstitle {
	font-weight: bold;
	font-size: 1.2em}

/* Find */
.subcomment {margin-left: 10px}

/* Help box*/
div.commentsedithelp {}

/***** Categories *****/

table.tcategpath {}
td.tdcategpath {}
.categpath {}
table.subcats {}
td.tdsubcat {}
.categlink {}
table.catobjects {}
td.categobjectsnameeven,
td.categobjectsnameodd {}
td.categobjectsdataeven,
td.categobjectsdataodd {}
.catname {}
.catblock {}
.catlists {}
.catlists:hover {}
.cattitle {}
.catlists a.link {}
.catlists a.link:hover {}

/***** Tags (freetags) *****/

li.freetag {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0}

ul.freetag {
	margin: 0;
	padding: 0;
	display: inline}

.freetag a {display:inline}

a.freetag_1 {
	text-decoration: none;
	font-size: .8em}

a.freetag_2 {
	text-decoration: none;
	font-size: .9em}
	
a.freetag_3 {
	text-decoration: none;
	font-size: 1em}

a.freetag_4 {
	text-decoration: none;
	font-size: 1.2em}

a.freetag_5 {
	text-decoration: none;
	font-size: 1.4em}

a.freetag_6 {
	text-decoration: none;
	font-size: 1.6em}

a.freetag_7 {
	text-decoration: none;
	font-size: 1.8em}

div.freetagObjectOdd {
	margin: 2px;
	position: relative}

div.freetagObjectEven {
	margin: 2px;
	position: relative}

div.freetagObjectName a {text-decoration: none}

div.freetagObjectType {
	position: absolute;
	top: 0;
	right: 0}

/***** Image Galleries *****/

table.galtable {}
html>body .galtable {}

td.oddthumb {
	background-color: #F9F9F9;
	border: 3px solid white;
	border-collapse: collapse}
 
td.eventhumb {
	background-color: #F9F9F9;
	border: 3px solid white;
	border-collapse: collapse}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}

/* ?? */
div.thumbnails {}

img.athumb {
	border: 0;
	margin: auto}

.caption {}
p.norecords {}
div.imagetitle {}
div.gallerylink {}

div.showimage {
	width: 100%;
	text-align: center;
	padding: 6px}

div.imgaldescr {}
.sorttitle {}

/* Check the next two ?? */
div.browsegallery {
	text-align: center;
	width: 100%}

div#browse_image {
	background: white;
	width: 100%}

/***** File Galleries *****/

div.thumbnailcontener {}
div.thumbnail {}
div.thumbnamecontener, div.thumbimagecontener {}
div.thumbnamecontener {}
div.thumbname, div.thumbimage {}
div.thumbnamesub, div.thumbimagesub {}
div.thumbnail:hover {}
div.thumbnail:hover div.thumbnamecontener {}
div.thumbimage img {}
div.thumbinfos {}
div.thumbinfo {}
span.thumbinfoval {}
div.thumbname {}
div.thumbactions {}
div.thumbactions * {}
div.thumbactions input {}
div.thumbactions a {}
div.thumbdescription {}
div.thumbdescription + div.thumbinfo {}
div.thumbdescription span.thumbinfoname {}
a.namealias {}
div.gallerypath, div.gallerypath a {}
div.gallerypath a:hover {}
.fgalexplorer {}
.fgallisting table td {}

/***** Trackers *****/

.statuson {
	padding: 1px;
	margin: 1px;
	border: 1px inset #666666;
	vertical-align: middle;
	background-color: #bbaa99}

.statusoff {
	padding: 1px;
	margin: 2px;
	vertical-align: middle}

/***** Calendar *****/
/* Overrides calendar.css, etc. */

.Cal0, 
.Cal1, 
.Cal2 {
	color: Black;
	font-size: 1em;
	padding-right: 0}
	
.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {font-size: 90%}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calblog,
.Calblog a,
.Calblog a:visited {color: #DA70D6}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30} 

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Caleph,
.Caleph a,
.Caleph a:visited {color: #008000}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {color: #8B4513}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000} 

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

Caltrack,
Caltrack a,
Caltrack a:visited {color: #00BD02}
	
.Calweb {font-size: 1em}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.calcontent a.linkmenu,
.calcontent a.linkmenu:hover {
	background-image: none;
	padding: 0}

.calfocus {font-size: 90%}

.calfocuson {font-size: 90%}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393E51}

.caltoggle {font-size: 90%}

.opaque {
	border-left: 1px solid #A9A9A9;
  	border-top: 1px solid #A9A9A9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969}

.opaque .box-title {border-bottom: 1px solid black}
.searchresults {display: inline}

#caltable .calfocuson,
.box-data td.fc a.today,
.box-data td a.today {
	border: solid 1px #696969;
	border: solid 1px #AAAAAA;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x;
	color: #505050;
	font-weight: bold;
	margin: 2px;
	vertical-align: middle;
	text-transform: uppercase}

#caltable .calfocuson a {color: #000}

#caltable .calfocus a,
#caltable .calfocuson a {text-decoration: none}

.day, .day:visited {}
.today {}
.nav {}
.changedate {}
.date {}

.calinput {background: #aaaaaa}
.calfocuson + .calcontent {background: #F5F5F5}
.days {color: #D8D8D8}
#caltable .weeks {color: #D8D8D8}

.addevent {
	padding: 0 5px;
	float: right}

* html .addevent {padding: 0}
.calodd, .caleven {border: 1px solid #999999}
.calodd {background: #F5F5F5}
* html .calodd {padding: 0}
.caleven {background: #ECECEC}
* html .caleven {padding: 0}
.caldark {background: #f0f0f0}
* html .caldark {padding: 0}
.caldark .calfocus {background: #f0f0f0}

.daterow {
	color: #000;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x;
	cursor: pointer}
	
.daterow:hover {
	color: #000;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x}

.calnavigation a,.calnavigation a:hover {
	color: #000;
	background: #f0f0f0 url(andreas09/menuhover.jpg) top left repeat-x}

/*****  Polls  *****/

div.pollresults {
	margin-top: 5px;
	font-size: 1em;
	padding: 0 5px}

table.pollresults {width: 100%}
td.pollr {}
#pollopen {display: block}
#pollzone {display: none}
#polledit {display: none}
.pollnav {}
div.faqlistquestions {}
div.faqqa {}
div.faqquestion {}
div.faqanswer {}

/***** FAQs *****/

div.faqlistquestions {}
div.faqqa {}
div.faqquestion {}
div.faqanswer {}

/***** Quizzes *****/

div.questionblock {}
div.quizquestion {}
div.quizoptions {}
div.quizdescription {}
div.quizanswer {}

/***** Shoutbox *****/

div.shoutboxmsg {}
div.shoutboxmodmsg {}

textarea.tshoutbox{
	font-size: 1.2em;
	width: 162px}

.wiki-table {}
.wiki-tr-a td {}
.wiki-tr-b td {}

/***** Directory *****/

div.dircategs {}
.dirlink {}
.dirsublink {}
div.dirlistsites {}

div.dirsite {
	background: #F9F9F9;
	border: 1px solid #aaa;
	margin-bottom: 10px;
	padding: 4px}

span.dirsitedesc {}
span.dirsitetrail {}
span.dirsitecats {}
.dirsitelink {}
div.dirrelated {}
td.dirfooter {}
div.dirfooter {}

span.dirsitetrail {font-size: 95%}
span.dirsitecats {font-size: 95%}

/***** Messages *****/

td.prio1, td.prio2, td.prio3, td.prio4, td.prio5 {
	border: 1px solid #8CACBB;
	padding-left: 2px}

td.prio1 {background: #F7F9CA}
td.prio2 {background: #F7F9EA}
td.prio3 {background: #F7F9FA}
td.prio4 {background: #F7F9FD}
td.prio5 {background: #F7F9FF}

div.messureadflag {
	background: #CCCCCC;
	padding-left: 5px}

div.messureadhead {
	background: #DEDEDE;
	margin-top: 2px}

div.messureadbody {
	margin-top: 5px;
	background: #DEDEDE}

.readlink {
	font-size: .95em;
	color: black}

/***** Ajax *****/

div#ajaxLoading {
	display: none;
	position: absolute;
	top: 50px;
	right: 50%;
	color: #fff;
	padding: 3px;
	font-family: Verdana;
	font-size: 90%;
	text-align: center;
	background: transparent url(../lib/shadowbox/images/loading-light.gif) no-repeat 50% 100%;
	height: 43px;
	width: 50px}

#shadowbox_title {
	height: auto !important;
	padding: 0;
	overflow: visible}

#shadowbox_title_inner {
	height: auto !important;
	font-size:1em !important;
	line-height: 1em !important;
	white-space: normal !important;
	padding:5px 0 4px 8px}

/***** TikiSheet *****/

table.default thead td,
table.default tfoot td {
	font-weight: bold;
	text-align: center;
	background-color: black;
	color: #D8D8D8}

table.default td {
	border: solid 1px #A9A9A9;
	background-color: black}

/***** 'Advanced feature' *****/

.advanced {
  margin: 20px;
  padding: 5px;
  border: #A9A9A9 1px solid;
  background-color: black;
  color: #D8D8D8}

.advanced:before {content:url(../img/icons/mini_blue_diamond.gif)" "}

.highlight_word_0{
	color: #ffff66;
	background: black}

.highlight_word_1{
	color: #ff9999;
	background: black}

.highlight_word_2 {
	color: #A0FFFF;
	background: black}

.highlight_word_3 {
	color: #ff66ff;
	background: black}

.highlight_word_4 {
	color: #99ff99;
	background: black}

.center {text-align: center}
.justify {text-align: justify}
.right {text-align: right}

/***** mypage *****/

.mypage_configure th {width: 180px}
#sideBarTab {background: url('../img/cord.png') no-repeat}
#sideBarContents {background: #fff}

/* css/admin.css overrides */

a.admbox {
	border: 1px solid #AAAAAA;
	background: #e8e9ea center no-repeat}

a.admbox:hover,
a.admbox:focus,
a.admbox:active  {
	background-color: #B2B2B2;
	border: 1px solid #292929}

a.admbox.off {border: 1px solid #9f9f9f}

/* end of css file */